  <section id="hero-static" class="hero-static d-flex align-items-center">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
      <h2>Bienvenido a <span>{{ title }}</span></h2>
      <p>Tu solución de identidad digital en un mismo sitio. Sin papel.</p>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Inicia</a>
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Ver Video</span></a>
      </div>
    </div>
  </section>
  
